<!DOCTYPE html>
<html>
  <head>
    <title>WebpackerDocker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- All your asset pipeline stuff  -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- All your webpack stuff  -->
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
